:local {

  .featureList{
    position: relative;
    margin: 25px auto;
    width: 250px;
    height: 375px;

    .items {

      :nth-child(1){
        z-index: 5;
      }

      :nth-child(2){
        z-index: 4;
        top: 7px;
        transform: scale(0.98);
      }

      :nth-child(3){
        z-index: 3;
        top: 14px;
        transform: scale(0.96);
      }

      :nth-child(n+4){
        display: none;
      }
    }

    .empty {
      margin-top: 100px;
      font-size: 1.40em;
      text-align: center;

      .tryAgain {
        width: 220px;
        height: 40px;
        margin-top: 25px;
        font-size: 15px;
        text-align: center;
        background-color: transparent;
        color: #00a2df;
        border: solid 1px #00a2df;
        transition: background .3s ease;
        cursor: pointer;
        outline: 0;

        &:hover {
          color: white;
          background-color: #00a2df;
        }
      }
    }

    .animateYesLeave {
      animation-fill-mode: both;
      animation: animate-yes 0.6s linear;

      &:before {
        transform: rotateZ(-35deg);
        background: url(http://i.imgur.com/Zkwj970.png) no-repeat center 10px;
        content: '';
        width: 100px;
        height: 50px;
        position: absolute;
        top: 15px;
        left: 5px;
        z-index: 6;
      }
    }

    .animateNoLeave {
      animation-fill-mode: both;
      animation: animate-no 0.6s linear;

      &:before {
        transform: rotateZ(35deg);
        background: url(http://i.imgur.com/XqQZ4KR.png) no-repeat center 10px;
        content: '';
        width: 100px;
        height: 50px;
        position: absolute;
        top: 15px;
        left: 5px;
        z-index: 6;
      }
    }
  }
}

$distance: 400px;
@keyframes :local(animate-yes) {
  0% {
    transform: scale(1) rotateZ(0deg);
    left: 0;
  }
  30% {
    transform: scale(1.05) rotateZ(0deg);
    left: 0;
  }
  100% {
    transform: rotateZ(45deg);
    left: $distance;
  }
}

@keyframes :local(animate-no) {
  0% {
    transform: rotateZ(360deg);
    right: 0;
  }
  30% {
    transform: scale(1.05) rotateZ(360deg);
    right: 0;
  }
  100% {
    transform: rotateZ(315deg);
    right: $distance;
  }
}
