@import url(https://fonts.googleapis.com/css?family=Lobster);

@define-placeholder flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:local {

  .match {
    @extend flex-column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.75);
    animation: match-show 0.75s linear;
  }

  .matchItem {
    @extend flex-column;

    :nth-child(2) {
      position: relative;
      top: -10px;
    }
  }

  .potentialMatches {
    @extend flex-column;

    .items {
      display: flex;
      flex-direction: row;

      > div {
        position: relative;
        margin-right: 10px;

      }
    }
  }

  .title {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 36px;
  }

  .moreInfo {
    color: white;
    margin-top: 0;

    a, a:visited {
      color: #00a2df;
    }
  }
}

@keyframes match-show {
  0% {
    background-color: rgba(0, 0, 0, 0);;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);;
  }
}
