:local {
  $cardSize: 220px;

  .card{
    display: flex;
    flex-direction: column;
    width: $cardSize;
    height: 340px;
    position: absolute;
    padding: 15px 15px 20px 15px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all .1s linear;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $cardSize;
    height: 170px;

    .logoImage {
      max-width: 220px;
      max-height: 100%;
    }
  }

  .title {
    display: inline-block;
    width: $cardSize;
    max-height: 40px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 0;
  }

  .description {
    display: inline-block;
    width: $cardSize;
    max-height: 135px;
    overflow: hidden;
    text-align: justify;
    word-spacing: -1px;
  }
}
