/*
 * SpinKit
 * A collection of loading indicators animated with CSS
 * See https://github.com/tobiasahlin/SpinKit
 */

:local {
  .loading {
    display: flex;
    height: 300px;
  }

  .info {
    margin: 100px 0 20px 0;
    font-size: 1.40em;
    text-align: center;
    display: block;
  }
}

.sk-three-bounce {
  margin: auto;
  text-align: center;
}

.sk-three-bounce .sk-child {
  width: 15px;
  height: 15px;
  background-color: #00a2df;
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
  animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}

@keyframes sk-three-bounce {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}
